.container-logo {
    background-image: url("/public/img/logo/ohmyfood@2x.svg");
    background-repeat: no-repeat;
    align-self: center;
    height: 40px;
    background-position: center;
    }

.header-menu{
    background-image: url("/public/img/logo/ohmyfood@2x.svg");
    background-repeat: no-repeat;
    align-self: center;
    height: 40px;
    background-position: center;
    display: flex;
    height: 59px;
    }

.return{
    align-self: center;
    padding-left: 15px;
    font-size: 1.5em;
}
.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    }

.localisation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    background-color: $colour-grey;
    border-top: solid #CCCCCC;
    box-shadow: 3px 3px 20px #DEDEDE;
    margin: 0;
    }

.search-input {
    font-size: Roboto;
    border: 0px #CECDCE solid;
    background-color: $colour-grey;
    font-weight: bold;
    }

.localisation-logo {
   padding-right: 10px;
   padding-left: 10px;
    }

 .description {
    background-color: #F6F6F6;
    margin: 0;
    display:flex;
    align-content: center;
    align-items:center;
    flex-direction:column;
    padding-bottom: 50px;
    }
