.container-functions{
   background-color: white;
   display: flex;
   margin:10px;
   @media (min-width: 599px) {
    flex-direction: row;
    justify-content: space-between;
    }
}

.functions {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    @media (min-width: 599px) {
        font-size: 0.8em;
        }
        @media (min-width: 1100px) {
            font-size: 1em;
            }
    }

.text-functions
{
    display: flex;
    flex-direction: row;
    border-radius: 3ex;
    padding: 20px;
    font-size: 1em;
    background: $colour-grey-light;
    box-shadow: 3px 3px 20px #dbdbdb;
    margin: 20px;
    @media (min-width: 599px) {
        align-items: center;
        max-width: 20em;
        justify-content: center;
        }
    &:hover{
        background: #F4EEFE;
        &:hover .icon{
           color: $colour-primary;;
        }
    }
}