.container-functions{
   background-color: white;
   display: flex;
   padding-top: 20px;
   @media (min-width: 599px) {
    flex-direction: row;
    justify-content: space-around
    }
}

.functions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 20px 0;
    font-size: 1em;
    }

.text-functions
{
    display: flex;
    flex-direction: row;
    border-radius: 3ex;
    padding: 20px;
    font-size: 1em;
    background: $colour-grey-light;
    box-shadow: 3px 3px 20px #dbdbdb;
    margin: 20px;
    @media (min-width: 599px) {
        align-items: center;
        max-width: 20em;
        justify-content: center;
        }
    &:hover{
        background: #F4EEFE;
        &:hover .icon{
           color: $colour-primary;;
        }
    }
}