a {
  text-decoration: none;
  color: black;
}

.img {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
}

.img-menu {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}

.img-1 {
  background-image: url("public/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.img-2 {
  background-image: url("public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.img-3 {
  background-image: url("public/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.img-4 {
  background-image: url("public/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  padding: 60px 20px 20px 20px;
  text-align: center;
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  padding: 20px;
  text-align: center;
  color: #5D5D5D;
}

.icon {
  color: #5D5D5D;
  padding: 0 20px 0 10px;
}

.number {
  background-color: #9356DC;
  border-radius: 5ex;
  padding: 10px;
  color: white;
  font-size: 1.3em;
  align-items: center;
  display: flex;
  height: 1ex;
  position: absolute;
}

.icon {
  color: #5D5D5D;
  padding: 0 20px 0 10px;
  font-size: 1.3em;
}
.icon--active {
  color: #9356DC;
  padding: 0 20px 0 10px;
  font-size: 1.3em;
}

h2 {
  padding-top: 30px;
  padding-left: 10px;
}

h3 {
  margin: 0;
  font-size: 1.3em;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: white;
  align-items: center;
  border-radius: 2ex;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  box-shadow: 3px 3px 20px #dbdbdb;
  text-align: center;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  align-self: center;
  transform: scale(1);
  transition: transform 400ms;
}
button:hover {
  transform: scale(1.15);
  transition-duration: 0.3s;
}

.order {
  margin: 20px;
  margin-bottom: 30px;
  justify-content: center;
}

.favourite {
  border: none;
  background: none;
  align-self: center;
}

.fa-heart:hover::before, .fa-heart:active::before {
  background: linear-gradient(#9356DC, #FF79DA);
  font-weight: bold;
  /*background prend la forme du coeur*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.menu__apparition {
  animation: 600ms ease 0s 1 normal none running delayapparition;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes delayapparition {
  0% {
    opacity: 0;
    transform: translate(100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.apparition_1 {
  animation-delay: 0.8s;
}

.apparition_2 {
  animation-delay: 1.2s;
}

.apparition_3 {
  animation-delay: 1.6s;
}

.apparition_4 {
  animation-delay: 2s;
}

.apparition_5 {
  animation-delay: 2.4s;
}

.apparition_6 {
  animation-delay: 2.8s;
}

.apparition_7 {
  animation-delay: 3.2s;
}

.apparition_8 {
  animation-delay: 3.6s;
}

.apparition_9 {
  animation-delay: 4s;
}

.apparition_10 {
  animation-delay: 4.4s;
}

.category__food__colomn2__checkbox {
  display: flex;
  background-color: #99E2D0;
  color: white;
  border-radius: 0 20px 20px 0;
  font-size: 1.3em;
  font-weight: 300;
  transform: transform 0.7s;
  width: 0;
  padding-right: 5px;
  cursor: pointer;
}

.fa-check-circle {
  margin: auto;
  color: white;
}

.category__food:hover .fa-check-circle {
  transition: transform 700ms ease;
  transform: rotate(360deg);
  cursor: pointer;
}

.category__food:hover .category__food__colomn2__checkbox {
  width: 3em;
  transition: all 1s;
  transform: translateX(0);
  text-overflow: ellipsis;
}

.loader {
  animation: 3000ms ease-in-out 0ms 1 normal both running space-spin;
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  display: grid;
  place-items: center center;
  z-index: 5;
  margin: auto;
  left: 0px;
  pointer-events: none;
}
.loader__spinner {
  animation: 1500ms ease-in 0ms infinite normal both running spin;
  background: linear-gradient(#FF79DA, #9356DC);
  width: 5em;
  height: 5em;
  border-radius: 100%;
  margin: auto;
}
.loader__spinner:hover {
  animation-play-state: paused;
}
.loader__spinner__white {
  animation: 2000ms ease-in 0ms infinite both running spin;
  background-color: white;
  width: 4em;
  height: 4em;
  border-radius: 100%;
  margin: 0.5em;
}

.loader-menu {
  animation: 1000ms ease-in-out 0ms 1 normal both running space-spin;
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  display: grid;
  place-items: center center;
  z-index: 5;
  margin: auto;
  left: 0px;
  pointer-events: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container-logo {
  background-image: url("./public/img/logo/ohmyfood@2x.svg");
  background-repeat: no-repeat;
  align-self: center;
  height: 40px;
  background-position: center;
}

.header-menu {
  background-image: url("./public/img/logo/ohmyfood@2x.svg");
  background-repeat: no-repeat;
  align-self: center;
  height: 40px;
  background-position: center;
  display: flex;
  height: 59px;
}

.return {
  align-self: center;
  padding-left: 15px;
  font-size: 1.5em;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  background-color: #EAEAEA;
  border-top: solid #CCCCCC;
  box-shadow: 3px 3px 20px #DEDEDE;
  margin: 0;
}

.search-input {
  font-family: Roboto;
  border: 0px #CECDCE solid;
  background-color: #EAEAEA;
  font-weight: bold;
}

.localisation-logo {
  padding-right: 10px;
  padding-left: 10px;
}

.description {
  background-color: #F6F6F6;
  margin: 0;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

footer {
  background: #353535;
  padding-bottom: 30px;
}

.logo--footer {
  padding: 25px;
}

.line-footer {
  padding: 10px 10px 10px 30px;
  display: flex;
  flex-direction: row;
}
@media (min-width: 599px) {
  .line-footer {
    padding: 10px 30px 10px 30px;
  }
}
.line-footer h5 {
  color: white;
  margin: 0;
}

.icon-footer {
  color: white;
  width: 20px;
  padding: 0 20px 0 0;
}

@media (min-width: 599px) {
  .menu-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.restaurants {
  background-color: #F6F6F6;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 0 20px 50px 20px;
}
@media (min-width: 599px) {
  .menu {
    flex-direction: row;
  }
}
.menu__card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 3ex;
  margin: 10px;
  box-shadow: 3px 3px 20px #dbdbdb;
  transform: scale(1);
  transition: transform 400ms;
}
@media (min-width: 599px) {
  .menu__card {
    width: 30%;
  }
}
.menu__card__cartel {
  display: flex;
}
.menu__card__cartel__text {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 90%;
}
.menu__card__cartel__text h4 {
  font-size: 1.2em;
  padding: 5px;
  margin: 0;
}
.menu__card__cartel__text p {
  font-size: 1.2em;
  padding: 5px;
  text-align: left;
  margin: 0;
}

.menu__card:hover {
  transform: scale(0.99);
}

.new {
  background-color: #A9E0D1;
  font-family: Roboto, Arial;
  padding: 10px 15px 10px 15px;
  color: #368C6F;
  box-shadow: 3px 3px 20px #5D5D5D;
  border-radius: 0.3ex;
  display: flex;
  margin: 20px;
  height: fit-content;
  margin-left: auto;
  font-weight: 600;
}

.img-card {
  border-radius: 3ex 3ex 0 0;
  width: 100%;
  display: flex;
}

.favourite {
  margin-left: auto;
  font-size: 2em;
  font-weight: lighter;
  align-content: center;
  padding-right: 20px;
}

article {
  display: flex;
  flex-direction: column;
  border-radius: 50Px 50px 0 0;
  background-color: #F6F6F6;
  margin-top: -60px;
}

.name-restaurant {
  display: flex;
}
.name-restaurant h1 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  text-align: left;
  margin-top: -30px;
  padding-left: 20px;
  padding-bottom: 10px;
}
@media (min-width: 599px) {
  .name-restaurant {
    font-size: 1.5em;
    padding-left: 20px;
    letter-spacing: 0.15em;
  }
}

.favourite-menu {
  font-size: 2em;
  align-self: center;
  margin-left: auto;
  padding-right: 40px;
}
.favourite-menu--active {
  display: none;
}

.container-category {
  display: flex;
  flex-direction: row;
}
@media (min-width: 599px) {
  .container-category {
    justify-content: space-between;
    padding: 20px;
  }
}
@media (min-width: 599px) {
  .container-category .category {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}
.container-category .category h2 {
  text-transform: uppercase;
  color: black;
  font-weight: 400;
  font-size: 1em;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 0;
  margin-top: 0;
}
.container-category .category__food {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 20px #dbdbdb;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
}
.container-category .category__food__colomn {
  padding: 10px;
}

.category__food__colomn2 {
  display: flex;
  flex-direction: row;
}
.category__food__colomn2__price {
  margin-top: auto;
  padding: 10px;
}

.category__food__colomn2__price {
  margin-left: auto;
  font-weight: bold;
  display: flex;
  align-content: flex-end;
}

hr {
  height: 3px;
  width: 40px;
  border: none;
  background-color: #99E2D0;
  overflow: visible;
  text-align: left;
  margin: 10px 0 20px 20px;
}

@keyframes space-spin {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.container-functions {
  background-color: white;
  display: flex;
  padding-top: 20px;
}
@media (min-width: 599px) {
  .container-functions {
    flex-direction: row;
    justify-content: space-around;
  }
}

.functions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0 20px 0;
  font-size: 1em;
}

.text-functions {
  display: flex;
  flex-direction: row;
  border-radius: 3ex;
  padding: 20px;
  font-size: 1em;
  background: #F6F6F6;
  box-shadow: 3px 3px 20px #dbdbdb;
  margin: 20px;
}
@media (min-width: 599px) {
  .text-functions {
    align-items: center;
    max-width: 20em;
    justify-content: center;
  }
}
.text-functions:hover {
  background: #F4EEFE;
}
.text-functions:hover:hover .icon {
  color: #9356DC;
}

/*# sourceMappingURL=style.css.map */
