/*@mixin shadow{$colour
    shadow:
}*/
a {
  text-decoration: none;
  color: black;
}

.img {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
}

.img-menu {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}

.img-1 {
  background-image: url("public/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.img-2 {
  background-image: url("public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.img-3 {
  background-image: url("public/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.img-4 {
  background-image: url("public/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  padding: 60px 20px 20px 20px;
  text-align: center;
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  padding: 20px;
  text-align: center;
  color: #5D5D5D;
}

.icon {
  color: #5D5D5D;
  padding: 0 20px 0 10px;
}

.number {
  background-color: #9356DC;
  border-radius: 5ex;
  padding: 10px;
  color: white;
  font-size: 1.3em;
  align-items: center;
  display: flex;
  height: 1ex;
  position: absolute;
}

.icon {
  color: #5D5D5D;
  padding: 0 20px 0 10px;
  font-size: 1.3em;
}
.icon--active {
  color: #9356DC;
  padding: 0 20px 0 10px;
  font-size: 1.3em;
}

h2 {
  padding-top: 30px;
  padding-left: 10px;
}

h3 {
  margin: 0;
  font-size: 1.3em;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: white;
  align-items: center;
  border-radius: 2ex;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  box-shadow: 3px 3px 20px #dbdbdb;
  text-align: center;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  align-self: center;
}

.favourite {
  border: none;
  background: none;
  align-self: center;
}

.active {
  display: none;
  color: linear-gradient(#FF79DA, #9356DC);
}

.active:hover {
  display: visible;
}

.container-logo {
  background-image: url("/public/img/logo/ohmyfood@2x.svg");
  background-repeat: no-repeat;
  align-self: center;
  height: 40px;
  background-position: center;
}

.header-menu {
  background-image: url("/public/img/logo/ohmyfood@2x.svg");
  background-repeat: no-repeat;
  align-self: center;
  height: 40px;
  background-position: center;
  display: flex;
  height: 59px;
}

.return {
  align-self: center;
  padding-left: 15px;
  font-size: 1.5em;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  background-color: #EAEAEA;
  border-top: solid #CCCCCC;
  box-shadow: 3px 3px 20px #DEDEDE;
  margin: 0;
}

.search-input {
  font-size: Roboto;
  border: 0px #CECDCE solid;
  background-color: #EAEAEA;
  font-weight: bold;
}

.localisation-logo {
  padding-right: 10px;
  padding-left: 10px;
}

.description {
  background-color: #F6F6F6;
  margin: 0;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

footer {
  background: #353535;
  padding-bottom: 30px;
}

.logo--footer {
  padding: 25px;
}

.line-footer {
  padding: 10px 10px 10px 30px;
  display: flex;
  flex-direction: row;
}
.line-footer h5 {
  color: white;
  margin: 0;
}

.icon-footer {
  color: white;
  width: 20px;
  padding: 0 20px 0 0;
}

.functions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0 20px 0;
  font-size: 1em;
}

.text-functions {
  display: flex;
  flex-direction: row;
  height: 20px;
  border-radius: 3ex;
  padding: 30px;
  font-size: 1em;
  background: #F6F6F6;
  box-shadow: 3px 3px 20px #dbdbdb;
  width: 90%;
  margin: 20px;
}
.text-functions:hover {
  background: #F4EEFE;
}
.text-functions:hover:hover .icon {
  color: #9356DC;
}
.text-functions--active {
  display: flex;
  flex-direction: row;
  height: 20px;
  border-radius: 3ex;
  padding: 30px;
  font-size: 1em;
  background: #F6F6F6;
  box-shadow: 3px 3px 20px #dbdbdb;
  width: 90%;
  margin: 20px;
  background: #F4EEFE;
}

.restaurants {
  background-color: #F6F6F6;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 50px 20px;
}
.menu__card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 3ex;
  margin: 10px;
  box-shadow: 3px 3px 20px #dbdbdb;
}
.menu__card__cartel {
  display: flex;
}
.menu__card__cartel__text {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 90%;
}
.menu__card__cartel__text h4 {
  font-size: 1.2em;
  padding: 5px;
  margin: 0;
}
.menu__card__cartel__text p {
  font-size: 1.2em;
  padding: 5px;
  text-align: left;
  margin: 0;
}

.new {
  background-color: #A9E0D1;
  font-family: Roboto, Arial;
  padding: 10px 15px 10px 15px;
  color: #368C6F;
  box-shadow: 3px 3px 20px #5D5D5D;
  border-radius: 0.3ex;
  display: flex;
  margin: 20px;
  height: fit-content;
  margin-left: auto;
  font-weight: 600;
}

.img-card {
  border-radius: 3ex 3ex 0 0;
  width: 100%;
  display: flex;
}

.favourite {
  margin-left: auto;
  font-size: 2em;
  font-weight: lighter;
  align-content: center;
  padding-right: 20px;
}

article {
  display: flex;
  flex-direction: column;
  border-radius: 50Px 50px 0 0;
  background-color: #F6F6F6;
  margin-top: -60px;
}

.name-restaurant {
  display: flex;
}
.name-restaurant h1 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  text-align: left;
  margin-top: -30px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.favourite-menu {
  font-size: 2em;
  align-self: center;
  margin-left: auto;
  padding-right: 40px;
}
.favourite-menu--active {
  display: none;
}

.category {
  display: flex;
  flex-direction: colomn;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.category h2 {
  text-transform: uppercase;
  color: black;
  font-weight: 400;
  font-size: 1em;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 0;
  margin-top: 0;
}
.category--active {
  display: none;
}
.category__food {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 20px #dbdbdb;
}
.category__food__details {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  padding-top: 5px;
}
.category__food__details__price {
  font-weight: bold;
  padding-right: 10px;
}
.category__food__details__price--validated {
  background-color: #99E2D0;
  color: white;
  border-radius: 0 20px 20px 0;
  padding: 22px;
  margin: -20px -10px -20px -20px;
  align-self: center;
  font-size: 1.3em;
}

.order {
  margin: 30px 0 40px 0;
}

.validated {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.large {
  flex-grow: 1;
  margin-right: 20px;
}

hr {
  height: 3px;
  width: 40px;
  border: none;
  background-color: #99E2D0;
  color: #99E2D0;
  overflow: visible;
  text-align: left;
  margin: 10px 0 20px 20px;
}

/*# sourceMappingURL=style.css.map */
