
.menu__apparition {
    animation: 600ms ease 0s 1 normal none running delayapparition;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.apparition_1 {
animation-delay: 0.4ms;
}

.apparition_2 {
    animation-delay: 0.8s;
}

.apparition_3 {
    animation-delay: 1.2s;
}

.apparition_4 {
    animation-delay: 1.6s;
}

.apparition_5 {
    animation-delay: 2s;
}

.apparition_6 {
    animation-delay: 2.4s;
}

.apparition_7 {
    animation-delay: 2.8s;
}

.apparition_8 {
    animation-delay: 3.2s;
}

.apparition_9 {
    animation-delay: 3.6s;
}

@keyframes delayapparition {
    0% {
        opacity: 0;
        transform: translate(100%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.test2{
    visibility: hidden;
    display: flex;
    justify-content: flex-end;
    height: 25px;
    padding: 20px 20px 20px 60px;
    background-color: $colour-tertiary;
    color: white;
    border-radius: 0 20px 20px 0;
    margin-top: -35px;
    margin-bottom: -10px;
    margin-right: -10px;
    align-self: center;
    font-size: 1.3em;
    font-weight: 300;
    text-overflow: ellipsis;
    transform: translateX(+4em);
    width: 0;
}

.fa-check-circle{
    opacity:0;
    align-self: center;
    color: white;
}

.test1:hover .fa-check-circle{
    transition: transform 700ms ease;
    transform: rotate(360deg);
    cursor: pointer;
    opacity:1;
}

.test1:hover .test2{
    visibility:visible;
    transition: all 1s;
    transform-origin: center;
    background-color: red;
    transform: translateX(0em);
    width: 4;
}

@keyframes checked-animation {
	0% {
		right: 0;
	  }
	  30%,
	  40% {
		right: 20%;
	  }
	  100% {
		right: 110%;
	  }
	}
