button{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: white;
    align-items: center;
    border-radius: 2ex;
    background: linear-gradient($colour-secondary, $colour-primary);
    border: none;
    box-shadow: 3px 3px 20px #dbdbdb;
    text-align: center;
    width: fit-content;
    padding: 10px 20px 10px 20px;
    align-self: center;
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        transform: scale(1.15);
    }
}

.favourite
{
    border: none;
    background:none;
    align-self: center;
}

.active{
    display:none;
    color: linear-gradient($colour-secondary, $colour-primary)
}

.active:hover{
    display:visible;
}