
.restaurants{
    background-color: $colour-grey-light;
}

.menu{
  display:flex;
  flex-direction: column;
  padding: 20px 20px 50px 20px;
  &__card{
      display: flex;
      flex-direction: column;
      background: white;
      border-radius: 3ex;
      margin: 10px;
      box-shadow: 3px 3px 20px #dbdbdb;
      transform: scale(1);
        transition: transform 400ms;
      &__cartel{
          display: flex;
        &__text{
            display: flex;
            flex-direction: column;
            padding: 15px;
            width:90%;
            h4{
                font-size: 1.2em;
                padding:5px;
                margin:0;
            }
            p {
                font-size: 1.2em;
                padding:5px;
                text-align:left;
                margin:0;
            }
        }
    }
}

}
.menu__card:hover{
    transform: scale(1.15);
}

.new{
    background-color: #A9E0D1;
    font-family: Roboto, Arial;
    padding: 10px 15px 10px 15px;
    color:#368C6F;
    box-shadow: 3px 3px 20px $colour-dark-grey;
    border-radius: 0.3ex;
    display:flex;
    margin: 20px;
    height: fit-content;
    margin-left:auto;
    font-weight:600;
}
.img-card{
    border-radius: 3ex 3ex 0 0;
    width:100%;
    display: flex;

}
.favourite{
    margin-left:auto;
    font-size: 2em;
    font-weight: lighter;
    align-content: center;
    padding-right: 20px;
}